<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>user</title>
  </head>
  <body>
    <div>
      <div>
        <div>
          <h1>All Users</h1>
          <a href="/user/new">+ Add a User</a>
        </div>
        <table>
          <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Created At</th>
            <th>Actions</th>
          </tr>
          {% for one_friend in all_friends %}
          <tr>
            <td>{{one_friend.first_name}} {{one_friend.last_name}}</td>
            <td>{{one_friend.email}}</td>
            <td>{{one_friend.created_at.strftime('%B %-d %Y')}}</td>
            <td>
              <a href="">show</a> | <a href="">edit</a> | <a href="">delete</a>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </body>
</html>
