<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cookie orders</title>
  </head>
  <body>
    <h1>Cookie Order</h1>
    <table>
      <thead>
        <tr>
          <th>Costumer Name</th>
          <th>Cookie Type</th>
          <th>Number of boxes</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for order in all_orders%}
          <td>{{order.name}}</td>
          <td>{{order.cookie_type}}</td>
          <td>{{order.number}}</td>
          <td><a href="/cookies/edit/{{order.id}}">edit</a></td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
    <a href="/cookies/new"> + New Order</a>
  </body>
</html>
