<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookie Order</title>
  </head>
  <body>
    <h1>Log a New Order</h1>
    <form action="/create" method="post">
      {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %}
      <p class="error">{{message}}</p>
      {% endfor %} {% endif %} {% endwith %}
      <label for="name"> Name :</label>
      <input type="text" name="name" />
      <label for="cookie_type">Cookie Type :</label>
      <input type="text" name="cookie_type" />
      <label for="number">Number Of Box</label>
      <input type="number" name="number" id="" />
      <input type="submit" value="Log" />
    </form>
  </body>
</html>
